<!DOCTYPE>
<html lang="en">
<head>

	<title>Social Analytic | Homepage</title>

	<script type="text/javascript" src="/static/js/angular_1.3.0.js"></script>
	<script type="text/javascript" src="/static/js/jquery_2.0.3_min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap_3.1.1_min.js"></script>

	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap_3.1.1_min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="/static/css/styles.css">

</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top" id="nav" role="navigation">
    <div class="container">
      <div class="navbar-header pull-right">
        <a class="navbar-brand" href="#">Sign In</a>         
      </div>
    </div>
  </nav>
	  

	<div class="container-full">

    <div class="row">
     
      <div class="col-lg-12 text-center v-center">
        
        <h1>Social Analytics</h1>
        <p class="lead">Track interactions on various networks.</p>
        
        <br><br><br>
        
        <form class="col-lg-12">
          <div class="input-group" style="width:340px;text-align:center;margin:0 auto;">
          <input class="form-control input-lg" title="Don't worry. We hate spam, and will not share your email with anyone." placeholder="Enter a webpage's URL" type="text">
            <span class="input-group-btn"><button class="btn btn-lg btn-success" type="button">GO</button></span>
          </div>
        </form>
      </div>
      
    </div> <!-- /row -->

	  <div class="row">
     
      <div class="col-lg-12 text-center v-center" style="font-size:39pt;">
        <a href="#"><i class="fa fa-google-plus"></i></a> 
        <a href="#"><i class="fa fa-facebook"></i></a>  
        <a href="#"><i class="fa fa-twitter"></i></a> 
        <a href="#"><i class="fa fa-github"></i></a> 
        <a href="#"><i class="fa fa-pinterest"></i></a>
      </div>
    
    </div>

	<br><br><br><br><br>

	</div> <!-- /container full -->



	<!--<div class="container">
	  
	  	<hr>
	  
	  	<div class="row">
	        <div class="col-md-4">
	          <div class="panel panel-default">
	            <div class="panel-heading"><h3>Hello.</h3></div>
	            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
	            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
	            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
	            Aliquam in felis sit amet augue.
	            </div>
	          </div>
	        </div>
	      	<div class="col-md-4">
	        	<div class="panel panel-default">
	            <div class="panel-heading"><h3>Hello.</h3></div>
	            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
	            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
	            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
	            Aliquam in felis sit amet augue.
	            </div>
	          </div>
	        </div>
	      	<div class="col-md-4">
	        	<div class="panel panel-default">
	            <div class="panel-heading"><h3>Hello.</h3></div>
	            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
	            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
	            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
	            Aliquam in felis sit amet augue.
	            </div>
	          </div>
	        </div>
	    </div>-->
	  




</body>
</html>